name: Static Code Analysis

on:
  workflow_dispatch: # Дозволяє запускати вручну

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Pylint
        run: pip install pylint

      - name: Run Pylint
        run: pylint main.py
